@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);

    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

div.hidden{
    display: none;
}

.max-width-wrapper{
    max-width: 920px;
    padding-left: 10px;
    padding-right: 10px;
}

header{
    background: url("./images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
}

header > div{
    background-color: rgba(var(--black-rgb), 0.4);
}

.header-nav-bar{
    height: 160px;
    /* width: 100%; */
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    height: 2rem;
    cursor: pointer;
}

.header-nav-bar nav svg{
    display: none;
}

nav ul{
    display: flex;
}

.header-nav-bar nav ul{
    align-items: center;
}

.nav-items{
    list-style: none;
    margin: 0 1rem;
    padding: 0 0 7px;
    font-family: 'Alata', sans-serif;
    cursor: pointer;
}

.nav-items:hover{
    padding: 0;
}

nav .nav-items:hover ::after{
    content: '';
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 5px;
    border-bottom: 2px solid var(--white);
}

/* .mobile-nav{
    display: none;
} */

header .landing{
    min-height: calc(100vh - 160px);
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.landing-content{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    border: var(--white) solid 2px;
    max-width: 600px;
    padding: 2rem;
}

.about{
    margin: 6rem auto;
}

.about-img{
    padding: 0 1rem;
    position: relative;
    z-index: -1;
}

.about-text{
    background-color: var(--white);
    padding: 3rem;
    max-width: 500px;
    position: absolute;
    left:50%;
    bottom: 0;
    z-index: +1;
}

.about-text h2{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    margin: 1rem 0;
}

.about-text-info{
    font-family: 'Alata', sans-serif;
    color: var(--dark-gray);
}

.creations{
    text-transform: uppercase;
    margin: 0 auto;
    /* width: 100%; */
}

.creations .creations-header-wrap{
    color: var(--black);
    display: flex;
    justify-content: space-between;
}

.creations .creations-header-wrap h2{
    font-weight: normal;
    font-size: 2.5rem;
}

.creations .see-all{
    border: var(--black) 1px solid;
    background-color: var(--white);
    padding: 0.5rem 2rem;
    font-size: 0.7rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.creations .see-all:hover{
    background-color: var(--black);
    color: var(--white);
}

.creations .creations-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    margin: 3rem auto;
    max-width: 900px;
}

.creations figure{
    max-width: 100%;
    position: relative;
    cursor: pointer;
}

.creations figure img{
    max-width: 100%;
}

.creations figure figcaption{
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
    color: var(--white);
    font-size: 2rem;
}

.creations figure:hover::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(var(--white-rgb), 0.8)
}

.creations figure:hover figcaption{
    color: var(--black);
}

footer{
    background-color: var(--black);
    color: var(--white);
    height: 200px;
    padding: 2rem 0 0;
}

.footer-wrap{
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}

.ftr-left{
    display: flex;
    flex-direction: column;
}

.footer-logo{
    cursor: pointer;
}

.ftr-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 2rem 0; */
}

.social-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-icons img{
    margin: 0.5rem 1rem;
    padding: 0 0 7px;
    cursor: pointer;
}

.social-icons img:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--white);
}

.bottom-nav{
    margin: 1.5rem 0;
}

.bottom-nav > ul li{
    margin-left: 0;
}

.copyright{
    color: var(--very-dark-gray);
    font-family: 'Alata', sans-serif;
    margin: 1rem 0;
}

@media screen and (max-width:870px) {
    .about-img > img{
        max-width: 600px;
    }
    
    .creations figure figcaption{
        font-size: 24px;
        max-width: 130px;
    }
}

@media screen and (max-width:768px){
    .header-nav-bar nav ul{
        display: none;
    }

    .mobile-nav{
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        position: fixed;
        z-index: 1;
        inset: 0;
        min-height: 100vh;
    }
    
    .mobile-nav-top{
        padding: 2rem 1rem;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-nav-bar nav .mobile-nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: calc(100vh - 100px);
    }
    
    .header-nav-bar nav .mobile-nav ul .nav-items{
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        margin-top: 1rem;
    }

    .mobile-nav .nav-items:hover ::after{
        width: 100%;
    }

    .header-nav-bar nav svg{
        display: block;
    }

    .about{
        text-align: center;
        margin-bottom: 3rem;
    }

    .about-img > img{
        max-width: 500px;
    }

    .about-text{
        position: static;
        z-index: 0;
        text-align: center;
        max-width: none;
    }

    section.creations{
        position: relative;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }

    .creations .creations-header-wrap{
        justify-content: center;
    }

    .creations .see-all{
        position: absolute;
        bottom: 0;
    }

    .creations .creations-grid{
        max-width: 600px;
    }

    .creations figure figcaption{
        left: 1rem;
        bottom: 1.5rem;
        font-size: 20px;
    }

    footer{
        height: 500px;
        text-align: center;
    }

    .footer-wrap{
        display: block;
        margin: 1rem 0;
    }

    .bottom-nav ul{
        flex-direction: column;
        align-items: center;
    }

    .bottom-nav .nav-items:hover ::after{
        width: 100%;
    }

    .bottom-nav ul .nav-items{
        margin: 0.8rem 0;
    }

    .ftr-left img{
        height: 1.5rem;
    }

    .social-icons{
        justify-content: center;
    }

    .copyright{
        font-size: 0.8rem;
        margin: 1rem 0;
    }
}

@media screen and (max-width:600px){
    .max-width-wrapper{
        padding: 0;
    }

    header{
        background: url("./images/mobile/image-hero.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header > div{
        background-color: rgba(var(--black-rgb), 0.2);
    }

    .header-nav-bar{
        margin: 0 1rem;
        height: 100px;
    }

    .header-logo{
        height: 1.5rem;
    }

    header .landing{
        margin: 0 1rem;
        justify-content: center;
        min-height: calc(100vh - 100px);
    }

    .landing-content{
        font-size: 2.2rem;
        max-width: 320px;
        padding: 1rem;
    }

    .about{
        margin: 3rem 0;        
    }

    .about-img > img{
        max-width: 400px;
    }

    .about-text h2{
        margin: 0 0 1rem;
    }

    .about-text-info{
        line-height: 1.6;
    }

    .creations{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .creations .creations-header-wrap h2{
        font-size: 2rem;
    }

    .creations .creations-grid{
        grid-template-columns: 1fr;
    }

    .creations figure figcaption{
        max-width: 120px;
    }
}

@media screen and (max-width:426px) {
    .about-img > img{
        max-width: 280px;
    }

    .about-text h2{
        font-size: 30px;
    }

    .about-text-info{
        font-size: 14px;
    }
}